.textInput {
  width: 100%;
  border: none;
  font-size: 22px;
  background-color: transparent;
  color: #262626;
  box-sizing: border-box;
}
.textInput:focus {
  outline: none;
}
.divider {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray-light-gray-3);
  width: 1px;
  overflow: hidden;
}
.sections {
  position: absolute;
  width: calc(100% - 32px);
  top: 108px;
  right: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chevronIcon,
.value {
  position: relative;
  flex-shrink: 0;
}
.value {
  width: 150px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  height: 37px;
}
.chevronIcon {
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.dropdown,
.valueIcon {
  width: 150px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown {
  position: absolute;
  top: 27px;
  left: 16px;
  border-radius: var(--br-7xs);
  width: 222px;
  height: 45px;
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-xs);
  box-sizing: border-box;
}
.userIcon {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.title {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.sections1,
.sidenavItem {
  display: flex;
  justify-content: flex-start;
}
.sidenavItem {
  align-self: stretch;
  border-radius: var(--br-7xs);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-9xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.sections1 {
  position: absolute;
  width: calc(100% - 32px);
  right: 16px;
  bottom: 16px;
  left: 16px;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-lg);
  color: var(--wwwuseplunkcom-mine-shaft);
}
.sideNavigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 410px;
  height: 1200px;
  overflow: hidden;
}
.viewCampaigns {
  position: absolute;
  top: 14px;
  left: 462px;
  display: flex;
  align-items: center;
  width: 387px;
  height: 62px;
}
.emailBody,
.statistic,
.subject {
  position: absolute;
  top: 39px;
  left: 45px;
  line-height: 24px;
  font-weight: 600;
}
.emailBody,
.statistic {
  top: 229px;
}
.emailBody {
  top: 546px;
}
.divider1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-gray-light-gray-3);
  height: 1px;
  overflow: hidden;
}
.value1 {
  position: absolute;
  width: calc(100% - 27px);
  top: 8px;
  left: 16px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
}
.cellBadge {
  width: 240px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.value2 {
  position: absolute;
  width: calc(100% - 32px);
  top: 8px;
  left: 16px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
}
.cellText {
  flex: 1;
  position: relative;
  height: 40px;
  overflow: hidden;
}
.row,
.rowParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row {
  align-self: stretch;
  flex-direction: row;
}
.rowParent {
  position: absolute;
  top: 270px;
  left: 45px;
  width: 1306px;
  flex-direction: column;
  text-align: center;
  font-size: var(--ui-ui-text-14-reg-size);
  color: var(--dark-gray-dark-gray-2);
  font-family: var(--ui-ui-text-14-reg);
}
.placeholder {
  flex: 1;
  position: relative;
}
.fieldContent {
  position: absolute;
  top: 93px;
  left: calc(50% - 653px);
  border-radius: var(--br-5xs);
  background-color: var(--appuseplunkcom-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1306px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  font-size: var(--font-size-3xl);
  color: var(--color-silver-100);
}
.placeholder1 {
  align-self: stretch;
  position: relative;
}
.fieldContent1,
.subjectParent {
  position: absolute;
  box-sizing: border-box;
}
.fieldContent1 {
  top: 600px;
  left: 45px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  width: 1306px;
  height: 317px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  font-size: var(--font-size-lg);
  color: var(--color-silver-100);
}
.subjectParent {
  top: 110px;
  left: 467px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--wwwuseplunkcom-silver-chalice);
  width: 1396px;
  height: 957px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--wwwuseplunkcom-black);
  font-family: var(--font-pretendard);
}
.close {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth5Frame1,
.depth6Frame0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.depth5Frame1 {
  position: absolute;
  top: 1089px;
  left: 1643px;
  border-radius: var(--br-xl);
  background-color: var(--wwwuseplunkcom-mine-shaft);
  width: 220px;
  height: 45px;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 84px;
  max-width: 480px;
  text-align: center;
  font-size: var(--wwwuseplunkcom-inter-regular-size);
  color: var(--appuseplunkcom-white);
  font-family: var(--font-pretendard);
}
.campaignsEdit {
  width: 100%;
  position: relative;
  background-color: var(--appuseplunkcom-white);
  height: 1200px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--dark-gray-dark-gray-2);
  font-family: var(--ui-ui-text-14-reg);
}
