.textInput {
  width: 100%;
  border: none;
  font-size: 14px;
  background-color: transparent;
  color: inherit;
  box-sizing: border-box;
}
.textInput:focus {
  outline: none;
}
.signInTo {
  align-self: stretch;
  position: relative;
}
.heading2 {
  align-self: stretch;
  align-items: center;
}
.container,
.heading2,
.heading2margin,
.margin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading2margin {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
}
.container,
.margin {
  align-items: center;
  box-sizing: border-box;
}
.container {
  width: 448px;
  padding: 0 var(--padding-37xl);
  max-width: var(--width-448);
}
.margin {
  width: 1856px;
  padding: 0 var(--padding-685xl);
}
.email,
.label {
  align-self: stretch;
}
.email {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hellouseplunkcom {
  align-self: stretch;
  position: relative;
}
.container3 {
  overflow: hidden;
}
.container2,
.container3,
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border-radius: var(--br-9xs);
  background-color: var(--appuseplunkcom-white);
  border: 1px solid var(--color-grey-83);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-2xs);
  color: var(--appuseplunkcom-pale-sky);
}
.container2 {
  gap: var(--item-spacing-xxs);
}
.password {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--appuseplunkcom-white);
  border: 1px solid var(--color-grey-83);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-2xs);
  z-index: 0;
}
.component1Icon {
  width: 20px;
  position: relative;
  height: 20px;
}
.container4,
.container5,
.container7 {
  display: flex;
  justify-content: flex-start;
}
.container7 {
  width: 8.74%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 91.26%;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-4xs) 0;
  box-sizing: border-box;
  z-index: 1;
}
.container4,
.container5 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.container5 {
  position: relative;
  color: var(--appuseplunkcom-pale-sky);
}
.container4 {
  gap: var(--item-spacing-xxs);
  color: var(--appuseplunkcom-emperor);
}
.signIn1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}
.button {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--wwwuseplunkcom-mine-shaft);
  flex-direction: row;
  white-space: nowrap;
  padding: 8px 16px;
  text-align: center;
  color: var(--appuseplunkcom-white);
}
.backgroundborder,
.form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form {
  gap: var(--item-spacing-s);
}
.backgroundborder {
  border-radius: var(--br-9xs);
  background-color: var(--appuseplunkcom-white);
  border: 1px solid var(--appuseplunkcom-mercury);
  padding: var(--padding-14xl) var(--padding-22xl);
}
.wantToCreate {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}
.container8 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-88xl-5) var(--padding-10xs);
  text-align: center;
  color: var(--wwwuseplunkcom-dove-gray);
}
.container1,
.container8,
.margin1,
.signIn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1 {
  width: 448px;
  align-items: flex-start;
  max-width: var(--width-448);
}
.margin1,
.signIn {
  width: 1856px;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-685xl) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--ui-ui-text-14-reg-size);
  color: var(--appuseplunkcom-tundora);
}
.signIn {
  width: 100%;
  position: relative;
  background-color: var(--appuseplunkcom-white);
  overflow-y: auto;
  justify-content: center;
  padding: var(--padding-288xl-5) var(--padding-13xl);
  min-height: var(--height-1200);
  text-align: center;
  font-size: var(--appuseplunkcom-semantic-heading-2-size);
  color: var(--wwwuseplunkcom-mine-shaft);
  font-family: var(--ui-ui-text-14-reg);
}
